{# ###################################### MODAL ERROR REGISTER ################################# #}
<div class="modal fade" id="modal_error_register" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      {# ------------------------------------ MODAL-HEADER ------------------------------------- #}
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-exclamation-circle"></i> EL EMAIL YA EXISTE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" title="Cerrar"></button>
      </div>
      {# -------------------------------------- MODAL-BODY ------------------------------------- #}
      <div class="modal-body">
        <p></p>
      </div>
      {# ------------------------------------- MODAL-FOOTER ------------------------------------ #}
      <div class="modal-footer justify-content-center">
        <div class="col-6">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Entendido">Entendido</button>
        </div>
      </div>
    </div>
  </div>
</div>